<div class="grid-frame vertical">
  <div class="dark title-bar">
    
    <div class="center title">
    <a ui-sref="home">zMusic</a>
    </div>
    
    <span class="left hide-for-medium">
    <a zf-toggle="sub-nav">Menu</a>
    </span> 
    
    <span class="right">
    <a ui-sref="settings">Settings</a>
    </span> 
    
    </div>
  <div class="grid-block"> </div>
  <div class="grid-block shrink player">
    <div class="small-12 medium-3 content">
      <ul class="menu-bar">
        <li><a href="#">p</a></li>
        <li><a href="#">p</a></li>
        <li><a href="#">
          <input type="range">
          </a></li>
      </ul>
    </div>
    <div class="medium-6 content show-for-medium">
      <ul class="menu-bar">
        <li><a href="#">
          <progress value="50" max="100"></progress>
          </a></li>
      </ul>
    </div>
    <div class="medium-3 content show-for-medium">
      <ul class="menu-bar">
        <li><a href="#">2:53</a></li>
        <li><a href="#">p</a></li>
        <li><a href="#">p</a></li>
        <li><a href="#">p</a></li>
      </ul>
    </div>
  </div>
</div>
