<link href="../../build/assets/css/app.css" rel="stylesheet" type="text/css">
---
name: contact
url: /contact.html
animationIn: hingeInFromTop
animationOut: hingeInFromTop
--- 

<!--middle-->
<div class="grid-frame vertical" >
  <div class="dark title-bar">
    <div class="center title"> Dosa House </div>
    <span class="right"> <span class="iconic-color-success">Settings</span> </span> </div>
  <!--middle-->
  <div class="grid-frame" >
    <div class="grid-content" style="background-color:red" >
      <div class="grid-container"> <img src="http://placehold.it/1000x250" > </div>
      <div class="grid-block">
        <div zf-tabs="">
          <div zf-tab="" title="Dosasasasasa"> Tab content 1 </div>
          <div zf-tab="" title="Drinks"> Tab content 2 </div>
          <div zf-tab="" title="Specials"> Tab content 3 </div>
        </div>
      </div>
    </div>
  </div>
  <!--middle-->
  
  <ul class="dark menu-bar align-bottom">
    <li><a href="#">Map</a></li>
    <li class="is-active" ><a href="#" >Menu Card</a></li>
    <li><a href="#">Cart</a></li>
  </ul>
</div>
