<link href="../../build/assets/css/app.css" rel="stylesheet" type="text/css">
---
name: about
url: /about.html
animationIn: fadeIn
animationOut: hingeInFromTop
---
<!--middle-->
<div class="grid-frame vertical " >
  <div class="dark title-bar">
    <div class="center title"> Dosa Houses </div>
    <span class="right"> <span class="iconic-color-success">Settings</span> </span> </div>
  <!--middle-->



        
<img src="http://placehold.it/1000x200">
  <div class="grid-frame" >

<div class="grid-content">
<section class="block-list" >
<header>Dosai</header>
<ul>
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->

<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
 <header>Specials</header>
 <li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close--> <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
  <header>Drinks</header>
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img src="http://placehold.it/50x50">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div zf-action-sheet="">
<div zf-as-button="" title="$3.99"></div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->


</ul>
</section>





      



  </div></div>
  <!--middle-->
  
  <ul class="dark menu-bar">
    <li><a ui-sref="map">Map</a></li>
    <li class="is-active" ><a href="#" >Menu Card</a></li>
    <li><a ui-sref="cart">Cart</a></li>
  </ul>
</div>

