---
name: aboutus
url: /aboutus.html
animationIn: fadeIn

---

<div class="grid-frame vertical" >
<div class="module mid">
  <h2>Welcome<p align="center"> Desi Fast Food</p></h2>

</div>
<div style="overflow:auto" class="grid-content">
<br><br>
<p>We are an Indian Fast food restaurant in Australia. Authentic & Fresh South Indian Vegetarian Cuisine.  Prepared, cooked and served in just the way it should be.</p>
<br><br>
<blockquote>From Yelp:
I didn't really want to write a review of this place. I wanted to keep this place secret for myself and for those others who have stumbled upon it. This place is as authentic as you can get as evidenced by my partners thumbs up (he has travelled through South India) and also by the stream of Indian people who frequent the place. And it is cheap, the people are super friendly and although there is no ambience or decor to speak of the dosas take you away on a journey to South India. Masala dosa is a favourite with it's richly aromatic filling and the chai tea is truly the real deal unlike those pathetic bubblegum-like tea bags you can buy in the supermarket. Just go! No, no! Just DONT go! I want it all for myself! Actually maybe if they get even more people then I might convince them to get some signage, business cards and menus done through me (I'm a graphic designer); he, he!
</blockquote>

</div>
</div>