---
name: aboutus
url: /aboutus.html
animationIn: fadeIn

---

<div class="grid-block">
<section>
<img src="http://placehold.it/1000x200">
<h5 align="center">Welcome to Dosa House</h5><br>
We are an Indian Fast food restaurant in Australia. Authentic & Fresh South Indian Vegetarian Cuisine. [ Prepared, cooked and served in just the way it should be ]
We are an Indian Fast food restaurant in Australia. Authentic & Fresh South Indian Vegetarian Cuisine. [ Prepared, cooked and served in just the way it should be ]
We are an Indian Fast food restaurant in Australia. Authentic & Fresh South Indian Vegetarian Cuisine. [ Prepared, cooked and served in just the way it should be ]
We are an Indian Fast food restaurant in Australia. Authentic & Fresh South Indian Vegetarian Cuisine. [ Prepared, cooked and served in just the way it should be ]We are an Indian Fast food restaurant in Australia. Authentic & Fresh South Indian Vegetarian Cuisine. [ Prepared, cooked and served in just the way it should be ]
</section>
</div>