<link href="../../build/assets/css/app.css" rel="stylesheet" type="text/css">
---
name: contact
url: /contact.html
animationIn: hingeInFromTop
animationOut: hingeInFromTop
--- 
<!--middle-->
<div class="grid-frame vertical" >
  <div class="dark title-bar">
    <div class="center title"> Dosa Houses </div>
    <span class="right"> <span class="iconic-color-success">Settings</span> </span> </div>
  <!--middle-->
  <div class="grid-frame" >
    <div class="grid-content" style="background-color:red" >
 
Learn
Develop
Support
Business
Docs
Getting Started
Log In
Foundation Forum
Feed
My Forum
Create Post
11
REPLIES
Follow
How to change F5 Tabs in Accordion in small screens
BY EDUARDO MONDAY, JANUARY 20, 2014 AT 12:21 PM PST
Framework: Sites
Tags: tabsaccordionsautosections
Hi everyone: I want to know how to change the Tabs into accordion when i reach a small screen.

i saw that using sections in F4 was posible but how can i do it in F5?

    Add a reply SORT BY:Oldest
Most Recent
Most Helpful
Oldest
Ghaida Zahran
ABOUT 1 YEAR AGO
Sections are deprecated in F5. You now get a lot more control over content and presentation with tabs and accrodions in Foundation 5. You can load the appropriate component for different screen sizes with Interchange.

Accordion Docs
http://foundation.zurb.com/docs/components/accordion.html

Tab Docs
http://foundation.zurb.com/docs/components/tabs.html

Interchange Docs
http://foundation.zurb.com/docs/components/interchange.html

  HELPFUL 3
Matt Barrett
8 MONTHS AGO
Try this on for size - http://codepen.io/corradomatt/full/JkGtn/

  HELPFUL 5
Dmitri Pisarev
7 MONTHS AGO
Ghaida, for interchange you need to create separate html file for every instance of tabs. That can be a pain, especially when working with CMS.

Matt's solution works, but it requires double amount of HTML code, that sucks!

The old sections from F4 were perfect, bring them back!

  HELPFUL 0
Lyn
7 MONTHS AGO
Hey there,

I guess you could also apply classes to elements based on window size with javascript and then trigger Foundation's reflow.
It may work, who knows :)

Regards,

Lyn.

  HELPFUL 0
Sal Baldovinos
7 MONTHS AGO
@Matt - nice solution. Not ideal with extra markup, but it works and it's slick. Thanks!

  HELPFUL 0
James Farthing
5 MONTHS AGO
@Matt - excellent solution... appreciate the share.

@Dmitri & Sal... come on guys... did you even look at the code? just a HTML restructure with two additional Foundation classes. It isn't double... it isn't extra markup.

  HELPFUL 0
neil kanth
5 MONTHS AGO
This would be great if it didn't break with a data-table.

I will have to use, Easy-Responsive-Tabs-to-Accordion, 
https://github.com/samsono/Easy-Responsive-Tabs-to-Accordion

  HELPFUL 0
neil kanth
5 MONTHS AGO
I figured out that table width need to be set to 'auto'.

I tried using this as a vertical tab for larger screens by adding the 'vertical' class but then realized that the content height cannot be greater than the height of all tabs.

Matt, http://codepen.io/corradomatt/full/JkGtn/
can your hack be used vertically?

  HELPFUL 0
Claudio Venegas 
Learn
Develop
Support
Business
Docs
Getting Started
Log In
Foundation Forum
Feed
My Forum
Create Post
11
REPLIES
Follow
How to change F5 Tabs in Accordion in small screens
BY EDUARDO MONDAY, JANUARY 20, 2014 AT 12:21 PM PST
Framework: Sites
Tags: tabsaccordionsautosections
Hi everyone: I want to know how to change the Tabs into accordion when i reach a small screen.

i saw that using sections in F4 was posible but how can i do it in F5?

    Add a reply SORT BY:Oldest
Most Recent
Most Helpful
Oldest
Ghaida Zahran
ABOUT 1 YEAR AGO
Sections are deprecated in F5. You now get a lot more control over content and presentation with tabs and accrodions in Foundation 5. You can load the appropriate component for different screen sizes with Interchange.

Accordion Docs
http://foundation.zurb.com/docs/components/accordion.html

Tab Docs
http://foundation.zurb.com/docs/components/tabs.html

Interchange Docs
http://foundation.zurb.com/docs/components/interchange.html

  HELPFUL 3
Matt Barrett
8 MONTHS AGO
Try this on for size - http://codepen.io/corradomatt/full/JkGtn/

  HELPFUL 5
Dmitri Pisarev
7 MONTHS AGO
Ghaida, for interchange you need to create separate html file for every instance of tabs. That can be a pain, especially when working with CMS.

Matt's solution works, but it requires double amount of HTML code, that sucks!

The old sections from F4 were perfect, bring them back!

  HELPFUL 0
Lyn
7 MONTHS AGO
Hey there,

I guess you could also apply classes to elements based on window size with javascript and then trigger Foundation's reflow.
It may work, who knows :)

Regards,

Lyn.

  HELPFUL 0
Sal Baldovinos
7 MONTHS AGO
@Matt - nice solution. Not ideal with extra markup, but it works and it's slick. Thanks!

  HELPFUL 0
James Farthing
5 MONTHS AGO
@Matt - excellent solution... appreciate the share.

@Dmitri & Sal... come on guys... did you even look at the code? just a HTML restructure with two additional Foundation classes. It isn't double... it isn't extra markup.

  HELPFUL 0
neil kanth
5 MONTHS AGO
This would be great if it didn't break with a data-table.

I will have to use, Easy-Responsive-Tabs-to-Accordion, 
https://github.com/samsono/Easy-Responsive-Tabs-to-Accordion

  HELPFUL 0
neil kanth
5 MONTHS AGO
I figured out that table width need to be set to 'auto'.

I tried using this as a vertical tab for larger screens by adding the 'vertical' class but then realized that the content height cannot be greater than the height of all tabs.

Matt, http://codepen.io/corradomatt/full/JkGtn/
can your hack be used vertically?

  HELPFUL 0
Claudio Venegas F.
3 MONTHS AGO
@matt thanks, your solution worked for me, but can't figure out how to style the active state of the accordions tabs when is in accordion state, i can style the tabs but not the accordion. Hope you understand me. Thanks for any help.

  HELPFUL 0
Pressly Bonner
2 MONTHS AGO
@matt - Thank You! Saved me a lot of trouble.

  HELPFUL 0
abdessamad idrissi
ABOUT 2 MONTHS AGO
Thanks guys for the solutions, but still all those are only hacks like @matt's solution to play with "show-for-small-only"..

Would appreciate seeing a native "Tab to accordion switcher" in coming foundation.F.
3 MONTHS AGO
@matt thanks, your solution worked for me, but can't figure out how to style the active state of the accordions tabs when is in accordion state, i can style the tabs but not the accordion. Hope you understand me. Thanks for any help.

  HELPFUL 0
Pressly Bonner
2 MONTHS AGO
@matt - Thank You! Saved me a lot of trouble.

  HELPFUL 0
abdessamad idrissi
ABOUT 2 MONTHS AGO
Thanks guys for the solutions, but still all those are only hacks like @matt's solution to play with "show-for-small-only"..

Would appreciate seeing a native "Tab to accordion switcher" in coming foundation.
      <div class="grid-block">
        <div zf-tabs="">
          <div zf-tab="" title="Dosasasasasa"> Tab content 1 </div>
          <div zf-tab="" title="Drinks"> Tab content 2 </div>
          <div zf-tab="" title="Specials"> Tab content 3 </div>
        </div>
      </div>
    </div>
  </div>
  <!--middle-->
  
  <ul class="dark menu-bar align-bottom">
    <li><a href="#">Map</a></li>
    <li class="is-active" ><a href="#" >Menu Card</a></li>
    <li><a href="#">Cart</a></li>
  </ul>
</div>
