<link rel="stylesheet" type="text/css" href="../../build/assets/css/app.css">

---
name: menucard
url: /menucard.html
animationIn: fadeIn

---
<!--top-->
<div class="grid-frame vertical" >

  <!--middle-->


<div class="module mid">
  <center><h2>Dosa House   
  <p> 
  Desi Fast Food</p>
  </h2>
</center>
</div>

  <div class="grid-frame" >

<div class="grid-content" >
<section class="block-list" style="background-color:#f2f2f2" >
<center><h4> ♨ Dosai ♨ </h4></center>
<ul>
 <!-- menu item start-->
<li>
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/50/50/food"  class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" >
<div class="button">$5.00</div>
</div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->

<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/50/50/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments. Dosa is a crispy fried </sub>
</div>
<div class="grid-content shrink" >
<div class="button">$5.00</div>
</div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block soldout">
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/50/50/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments. Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" ><div>
<div class="button alert">$11.50</div>
  <div class="specialflag">SOLD OUT</div>
</div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
 <center><h4> ♨ Dinner ♨ </h4>  <h6> 5-11pm </h6></center>

 <li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/50/50/food" class="circle">
</div>
<div class="grid-content">
<b> Onion Ottapam</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments. batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" >
<div class="button">$15.00</div>
</div></div>
</li>
<!--menu item close--> <!-- menu item start-->
<li  style="border:dashed thin; background-color: #FFF7BE" >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/50/50/food" class="circle">
</div>
<div class="grid-content">
<span style="border-radius:50%; background-color: #D07D00; color:white; font-weight:200; font-size:10px; padding:8px">Special</span><br>
<b> Diwali Special Dosa</b><br>
<sub>Dosa is a crispy fried </sub>
</div>
<div class="grid-content shrink" >
<div class="button">$8.00</div>
</div> </div>
</li>
<!--menu item close-->

 <!-- menu item start-->
<center> <h4> ♨ Drinks  ♨ </h4>  </center>
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/50/50/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content shrink" >
<div class="button">$5.00</div>
</div></div>
</li></ul>
<!--menu item close-->




</section>

<p>
Dosa House
123 Main Street
Australia
</p></br>
<p>
All Rights Reserved. Powered by WebSheets.io
</p>

  </div>
  <!--middle end/footer start-->

</div>
<!--footerend-->