<link rel="stylesheet" type="text/css" href="../../build/assets/css/app.css">
<style type="text/css">
.specialflag {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  line-height: 24px;
  padding: 0 30px 0 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  /*background-color: #ffd34e;*/
  background-color: #B80104;
  z-index: 9;
}
.specialflag:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid #B80104;
  border-left-color: transparent;
  border-width: 12px 8px;
  top: 0;
  left: -10px;
}
.soldout {
  padding:15px;
  background-color:#D7D7D7;
  text-decoration:line-through;
  background: repeating-linear-gradient(-55deg,#f6f6f6,#f6f6f6 10px, #f1f1f1 10px,#f1f1f1 20px);
  }
  
.circle{
width:100px;
height:100px;
border-radius:30%;
font-size:50px;
color:#fff;
line-height:20px;
text-align:center;
background:#000
}
</style>
---
name: menucard
url: /menucard.html
animationIn: fadeIn

---
<!--top-->
<div class="grid-frame vertical" >

  <!--middle-->



        
<img src="http://lorempixel.com/1005/200/food/2">
  <div class="grid-frame" >

<div class="grid-content" >
<section class="block-list" >
<header>Dosai</header>
<ul>
 <!-- menu item start-->
<li>
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food"  class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class="button">$4.50</div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->

<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments. Dosa is a crispy fried </sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class="button">$4.50</div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block soldout">
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments. Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content text-center" ><div>
<div zf-as-button="" class="button alert">$11.50</div>
  <div class="specialflag">SOLD OUT</div>
</div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
 <header>Dinner</header>
 <li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<b> Onion Ottapam</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments. batter served with 3 condiments</sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class="button">$4.50</div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close--> <!-- menu item start-->
<li  style="border:dashed thin; background-color: #FFF7BE" >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<span style="border-radius:50%; background-color: #D07D00; color:white; font-weight:200; font-size:10px; padding:8px">Todays Special</span><br>
<b> Diwali Special Dosa</b><br>
<sub>Dosa is a crispy fried </sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class=" button info">$4.50</div>

<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>

</ul></div>

</div></div>  </div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class="button">$4.50</div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
  <header>Drinks</header>
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class="button">$14.50</div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class="button">$6.50</div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->
 <!-- menu item start-->
<li >
<div class="grid-block" style="padding:15px" >
<div class="grid-content shrink" >
<img  src="http://lorempixel.com/75/75/food" class="circle">
</div>
<div class="grid-content">
<b> Special Dosa</b><br>
<sub>Dosa is a crispy fried batter served with 3 condiments</sub>
</div>
<div class="grid-content text-center" ><div zf-action-sheet="">
<div zf-as-button="" class="button">$1.50</div>
<div zf-as-content="" position="bottom">
<p>Add to Cart</p>
<ul>
<li><a href="#">Yes</a></li>
<li><a href="#">No</a></li>
</ul></div></div></div></div>
</li>
<!--menu item close-->


</ul>
</section>





      



  </div></div>
  <!--middle end/footer start-->

</div>
<!--footerend-->